<p id="notice"><%= notice %></p>

<h1>Listing Events</h1>

<%= link_to new_event_path, class: 'btn btn-success' do %>
  <i class="glyphicon glyphicon-plus"></i> New Event
<% end %>
<br></br>

<div id="events" class="row">
  <%= render @events %>
</div>